/* Begin */

body {
     margin-top: 70px;
       font-family: 'Poppins', system-ui, sans-serif; 
   }
   
   /* Navbar */
   
   .navbar {
     background-color: transparent;
     border-bottom: 2px solid rgb(247, 245, 245); /* temp/experimental */
   }
   
   .nav-link:hover {
     border: 1px solid black;
     border-radius: 10px;
   }
   
   a:link, a:visited, a:hover, a:active {
     text-decoration: none;
     color: black;
   }
   
   /* Cover and Footer icons */
   
   i.fa-brands:hover {
     transform: scale(1.25);  
   }
   
   /* Social link cards hover */
   
   .card-body:hover {
     transform: scale(1.05);
   }
   
   /* Contact form button */
   
   .textarea-container {
     position: relative;
   }
     
   .textarea-container .submit-button {
     position: absolute;
     bottom: 15px; 
     right: 25px; 
   }
     
   .img-fluid {
     padding-top: 3px;
   }
   