


/* Contact form button */

  .textarea-container {
    position: relative;
  }
  
  .textarea-container .submit-button {
    position: absolute;
    bottom: 15px; 
    right: 25px; 
  }
  
  .img-fluid {
    padding-top: 3px;
  }